#likemark-children-wrapper {
  overflow: hidden;
  ::-webkit-scrollbar {   // Chrome, Safari, Opera, Android, iOS
    width: 0px;
    background: transparent;
  }
}

/* default state */
#likemark-children {
  margin-top: 15px;
  max-height: 90vh;
  overflow-y: scroll;
  width: 100%;
  flex: 2
}

/* small desktop */
@media all and (max-width: 1200px) {
  .likemark-children {
    max-height: 70vh;
  }
}

/* tablet */
@media all and (max-width: 1024px) {
  .likemark-children {
    max-height: 85vh;
  }
}

/* mobile phone */
@media all and (max-width: 768px) {
  .likemark-children {
    max-height: 80vh;
  }
}
