.likemark-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.header-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 30px;
}

.likemark-link-btn {
  background-color: #00a2ae;
  a {
    color: white;
    &:hover {
      color: white;
    }
  }

}
